{% extends 'base.html.twig' %}

{% block title %}Evènements - Event Time{% endblock %}

{% block header %} {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="text-center text-5xl my-6">Les évènements</h1>
{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}
