{% extends 'base.html.twig' %}

{% block title %}Accueil - Event Time{% endblock %}

{% block header %} {{ parent() }} {% endblock %}

{% block body %}
    <h1 class="text-center text-5xl my-6">Bienvenue sur Event Time</h1>
{% endblock %}

{% block footer %} {{ parent() }} {% endblock %}
